@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Slab', sans-serif;
  background-color: #DDDDE3;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #001845;
  color: #979DAC;
}

.header__title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer{
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #001845;
  color: #979DAC;
}

.footer__content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.footer__content__link{
  font-size: 1.7rem;
  color: #979DAC;
  font-weight: 500;
}

.footer__content__link:hover{
  font-weight: 900;
  color: #F4F4F6;
}